
body { 
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.hidden {
  display: none;
}

/* HEADER STYLES SECTON */
header {
  background-color: antiquewhite;
  
  height: 80px;
  width: 100%;

}
.mainHeadline {
  font-size: 36px;
  margin: auto;
}

#mainText {
  margin-top: 45px;
  text-align: center;
}

svg {
  width: 15%; 
}

button {
  background-color: black;
  color: white;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  height: 75px;
  margin: auto;
  width: 200px;
}

/* FOOTER STYLE SECTION */

footer {
  background-color: antiquewhite;
  height: 100px;
  width: 100%;
}